body{
  background-color: #eeeeee;
  color: #2e2e2e;
  text-align: center;
}

.after_header{
  margin-top: 85px
}

.index_header{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2e2e2e;
  color: #eeeeee;
}

.text_col{
  max-width: 1000px;
}


.wrapper {
  display: inline-flex;
  justify-content: center;
}
.wrapper i {
  margin-top: -22px;
  margin-right: 3px;
  margin-left: 3px;
}
.wrapper a {
  color: rgba(255,255,255,0.5);
}
.wrapper i:hover {
  color: rgba(255,255,255,1);
}

.nav-item a{
  font-size: 20px;
}

.navbar h1{
  margin-top: -0.2em;
  margin-bottom: 0em;
}
